@page
@model SqlModel
@{
    ViewData["Title"] = "Sql Data";
}
<h1>@ViewData["Title"]</h1>

<p>Lets Get Some data from a Sql Database!</p>


<form method="post">
    <label for="myTextBox">Sql Retrived Data: </label><b>@Model.SqlDataText</b>
</form>




